* {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #Sertifikat {
    width: 100vw;
  }

  #contact {
    width: 100vw;
  }

  #projeksaya {
    width: 100vw;
  }
}
@media (min-width: 768px) {
  #Sertifikat {
    height: 100vh;
  }

  #contact {
    height: 100vh;
  }

  #projeksaya {
    height: 100vh;
  }
}

.jumbotron {
  background-image: url("bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  animation: Transisimasukjumbo 15s alternate;
}

@keyframes Transisimasukjumbo {
  0% {
    opacity: 0;
  }
  12% {
    opacity: 1;
    animation-play-state: paused;
  }
}

.jumbotron1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  animation: Transisimasuk 15s alternate;
}

.navbar {
  background: transparent !important;
  transition: 0.5s;
}

.navbar-dark {
  animation: Transisimasuk 15s alternate;
}

.navbar.scrolled {
  background: #273036 !important;
}

.tulisan-ubah {
  opacity: 0 !important;
  transition: 0.5s;
}

.tulisan-ubah.scroll {
  opacity: 1 !important;
}

.ubah-warna {
  color: #000000;
  transition: 0.5s;
}

.ubah-warna.scrollbawah {
  color: #dbdbdb;
}

.scrollbawah:hover {
  color: #ffffff;
  transition: 0.5;
}

@keyframes Transisimasuk {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  17% {
    opacity: 1;
    transform: translateY(0);
    animation-play-state: paused;
  }
}

#About {
  height: 100vh;
  background-color: #f3f4f5;
  padding: 8rem 3rem 3rem 3rem;
}

.container1 {
  height: 80%;
}

.baris-2 {
  height: 100%;
  padding: 2rem 1rem 2rem 2rem;
}

#Sertifikat {
  background-color: #f3f4f5;
  padding: 6rem 3rem 3rem 3rem;
}

.barisCard-2 {
  padding-top: 2rem;
  transition: 0.5s;
}

.tombol {
  cursor: pointer;
}

.wave {
  background: rgb(243, 244, 245);
  background: linear-gradient(180deg, rgba(243, 244, 245, 1) 90%, rgba(39, 48, 54, 1) 100%);
}

#contact {
  background-color: #273036;
  padding: 6rem 1rem 1rem 1rem;
}

.barisEmail {
  padding: 2rem 5rem 5rem 5rem;
}

.footer {
  background-color: #f3f4f5;
  height: 30vh;
}

.waves {
  margin: 0;
  background: rgb(39, 48, 54);
  background: linear-gradient(180deg, rgba(39, 48, 54, 1) 90%, rgba(243, 244, 245, 1) 100%);
}

.hover-anim {
  transition: transform 0.5s;
  margin: 0 auto;
}

.hover-anim:hover {
  transform: scale(1.1);
}

#projeksaya {
  padding: 6rem 3rem 1rem 3rem;
  background-color: #f3f4f5;
}

.tulistulis {
  margin-bottom: 2rem;
}
